@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* VARIABLES */
:root {
    --primary-color: #35ac7a;
    --btn-color:#55dd4a;
    --secondary-color: #111111;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
    --divider--color: #151414;
    --title-color:#122315;
    --bg-color: #f3ede4 ;
    --form-color: #98c2804b ;
}

/* RESET DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
    color: #122315;
}

h1{
    color: #122315;
}
/* UTILITY CLASSES */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.btn {
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: .8rem;
    font-size: 1.rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--btn-color);
    color:var(--secondary-color);
    font-family: var(--primary-font);
}

.btn-primary:hover {
    background-color: #445e49;
    color: var(--bg-color);
}

.btn-secondary {
    border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.section-subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-heading {
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.section-heading.left {
    margin-right: auto;
}

.section-heading.right {
    margin-left: auto;
}



/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary-color);
    background-color: var(--bg-color);
}

section {
    position: relative;
    padding-top: 7rem !important;
    padding-bottom: 5rem !important;

}

/* HEADER */
header{
    padding: 1rem 0.5rem;
    width: 100%;
    z-index: 5;
    background-color: #122315;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 20px;
    display: block;
    position: fixed;
}

.header_logo img{
    width: 100px;
}

.header_menu{
    gap:1rem;
}

.header_menu li a {
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s;
    color:  #fff;
}

.header_menu li a:hover {
    color: var(--primary-color)
}

header .right {
    gap: 1rem;
}

.menu-btn {
    display:flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}


#hero{
    min-height: 100vh;
}

.hero_content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero_content p{
    font: size 1.2em; ;
    font-weight: 300;
    margin-bottom: 1rem;
}


/* ABOUT */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature {
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid; /* Simplify the border property by consolidating common styles */
}

/* Specific border and icon colors for each feature */
.feature:nth-child(1) {
    border-color: #fe6786; /* Red */
}
.feature:nth-child(1) .feature_icon {
    color: #fe6786; /* Red */
}

.feature:nth-child(2) {
    border-color: #5cd8a5; /* Aqua Green */
}
.feature:nth-child(2) .feature_icon {
    color: #5cd8a5; /* Aqua Green */
}

.feature:nth-child(3) {
    border-color: #fea95b; /* Orange */
}
.feature:nth-child(3) .feature_icon {
    color: #fea95b; /* Orange */
}

.feature_icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature_title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature_text {
    font-size: 0.9rem;
}

.about_details {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.about_details-content {
    width: 50%;
}

.about_details-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about_details-content p {
    font-size: 0.9rem;
    font-weight: 400;
}

.about_details-content .btn {
    margin-top: 1rem;
}

.about_details-img {
    width: 40%;
}

/* SERVICES */
#services .section-subheading,
#services .section-heading {
    text-align: right;
}

#services {
    background: url('/assets/services-bg.png') no-repeat top / 100% 50% hsla(113, 67%, 80%, 0.475);
}


.services {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.service {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.service_icon img {
    width: 130px;
    margin-bottom: 1rem;
}

.service_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.service_text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.service .arrow-icon{
    font-size: 1.2rem;
    color:var(--title-color);
    margin-left: auto;
}

.service:hover .arrow-icon{
    transform: translateX(5px);
}

/* Projects */

.projects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
}

.project {
    display: flex;
    gap: 10%;
    align-items: center;
    border-bottom: 1px solid var(--divider--color);
}

.project:nth-child(2){
    flex-direction: row-reverse;
}

.project_img {
    position: relative;
    min-width: 35%;
}
/*
.project_img::after {
    content: "";
    position: absolute;
    top: -20px;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    z-index: -1;
    border: 4px solid #E0BC49;
}

.project:nth-child(1) .project_img::after,
.project:nth-child(3) .project_img::after{
    left: -20px;
}

.project:nth-child(2) .project_img::after {
    right: -20px;
    border-color: #DFD4C4;
}
.project:nth-child(3) .project_img::after {
    right: -20px;
    border-color: #037964;
}
.project:nth-child(1) .btn-secondary{
    border: 2px solid #E0BC49;
}

.project:nth-child(2) .btn-secondary{
    border: 2px solid #c9a36b;
}
.project:nth-child(3) .btn-secondary{
    border: 2px solid #037964;
}*/

/* Define custom properties for each project for easy maintenance and adjustments */
.project:nth-child(1) {
    /* --border-color: #E0BC49;  Gold */
    --button-border-color: var(--primary-color); /* Gold */
    --hover-color: #029782; /* Lighter Gold for hover */
}


.project:nth-child(2) {
    /*--border-color: #DFD4C4; /* Light Beige */
    --button-border-color: var(--primary-color); /* Darker Beige */
    --hover-color: #029782; /* Lighter Beige for hover */
}

.project:nth-child(3) {
    /*--border-color: #037964; /* Dark Green */
    --button-border-color: #037964; /* Dark Green */
    
    --hover-color: #029782; /* Lighter Green for hover */
}

.project_img::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px; /* Default to left-aligned */
    width: 90%;
    height: 90%;
    border-radius:5px;
    z-index: -1;
    border: 4px solid var(--border-color);
}

/* For the second child, align to the right */
.project:nth-child(2) .project_img::after{
    right: -20px;
    left: auto; /* Override the default left position */
}

.btn-secondary {
    border: 2.5px solid var(--button-border-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn-secondary:hover {
    background-color: var(--hover-color); /* Lighter color on hover based on the border color */
    color: #fff; /* Change text color to white for better visibility on hover */
}

.project_category {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.project_title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
}

.project_text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/* TEAM */
.members {
    display: flex;
    gap: 3rem;
}

.member:nth-child(2),
.member:nth-child(4) {
    margin-top: 5rem;
}

.member_img {
    margin-bottom: 1rem;
}

.member_content h1 {
    margin-bottom: 0.25rem;
}

.member_content p {
    opacity: 0.4;
    font-weight: 600;
}

/* TESTIMONIALS */


/* CONTACT */
.contact {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_form input,
.contact_form textarea{
    padding: 1rem;
    font-size: .9rem;
    font-weight: 1000;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--form-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.contact_form textarea {
    resize: vertical;
}

.contact_details {
    width: 50%;
}

.contact_details .text {
    font-size: 0.9rem;
    color: #2e2e2e;
    margin-bottom: 2rem;
}

.contact_details .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact_details .detail {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.detail_icon {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--bg-color);
    font-size: 1rem;
    background: var(--title-color);
}

.detail_content h3 {
    margin: 0;
    line-height: 2;
}

.detail_content p {
    color: #2e2e2e;
    font-size: 0.9rem
}

/* FOOTER */
footer {
    padding: 2rem 0;
}

.footer_content {
    display: grid;
    gap: 5rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer_logo {
    width: 100px;
    margin-bottom: 1rem;
}

.footer_text {
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.footer_newsletter {
    position: relative;
}

.footer_newsletter input{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.footer_newsletter .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}

.footer_menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: #747474;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    /* GLOBAL */

    
    /* HEADER */


    /* HERO */


    /* ABOUT */


    /* PROJECTS */


    /* TEAM */


    /* TESTIMONIALS */


    /* CONTACT */


    /* FOOTER */


}


